.app-wrapper {
  display: grid;
  background: cornsilk;
  margin: 0 auto;
  width: 1200px;
  grid-template-areas:
    "h h" /* first row - header spreads in two columns (2fr and 10 fr, overall 12fr) */
    "n c" /* second row - nav spreads in one column (2fr of 12fr), content in other (10fr) */;
  grid-template-rows: 60px 1fr; /* first row - 60px, second - one fraction (overall - 12fr) */
  grid-template-columns: 2fr 10fr; /* first row - 2 fractions, second - ten fractions (overall - 12fr) */
  /* gap: 10px; */
}

.app-wrapper-content {
  grid-area: c;
  background: cornflowerblue;
}
